body {
    /* Background pattern from Subtle Patterns */
    background-image: url(../images/dark-triangles.png);
    font-size: 18px;
    color: lightgray;
    font-family: 'Amiri', serif;
    padding-bottom: 40px;
    margin-top: 10px;
}

.fake-content {
    padding-top: 25px;
    border-radius: 7px;
    height: 100%;
    background-image: url(../images/grey_wash_wall.png);
}

.navbar {
    font-size: 40px;
    background-color: beige;
    text-align: center;
}

.row-navbar {
    height: 50px;
    vertical-align: middle;
}

.bannerImage {
    transition: transform 2s ease-in-out;
}

.bannerImage:hover {
    transform: scale(0.9) rotate(360deg);
}

.fontCourgette {
    font-size: 25px;
    font-family: 'Courgette', cursive;
}

.leftMenu {
    text-align: center;
    border-radius: 2%;
}
.btn-custom {
    color: lightgray;
    background-color: #333333;
    font-size: 18px;
    width: 80%;
    padding: 10px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    transition: transform 0.2s ease-in-out;
    -webkit-box-shadow: 3px 3px 19px 5px rgb(17, 22, 77);
    -moz-box-shadow: 3px 3px 19px 5px rgba(17, 22, 77, 1);
    box-shadow: 3px 3px 19px 5px rgba(17, 22, 77, 1);
}

.btn-custom:hover {
    background-color: beige;
    cursor: pointer;
    transform: scale(1.05);

}

.btn-bitbucket:hover {
    background-color: #0747A6;
    color: white;
}

.btn-bitbucket:hover > a {
    color: white;
}

.btn:focus,
.btn-bitbucket:active {
    color: lightgray;
}

.mainContent
{
    color: floralwhite;
    font-size: 18px;
}

.button-cus{
    height: 24px;
    padding: 0;
}

.navbar-footer {
    height: 30px;
    min-height: 30px;
    font-size: 14px;
    padding-top: 6px;
    letter-spacing: 2px;
    border: 2px solid #11164D;
}

.hamiltonImage
{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#googleMap
{
    width: 100%;
    height: 400px;
    z-index: 100;
}

.select > option
{
    color: black;
}

#map {
    z-index: 4;
    margin-bottom: 20px;
}

.contactCard
{
    width:50%;
    padding: 10px;
    float: left;
}