<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head lang="en">
    <title>Contact Us</title>
</head>
<body>
<div class = "container">

    <div class="mainContent" layout:fragment="content">
        <div class="contactCard">
            <address>
            <strong>Tymoteusz Telega</strong><br>
            Młyńska 16<br>
            43-190 Mikołów
        </address>
        <address>
            <strong>BitBucket<i class="icon-bitbucket"></i></strong><br>
            <a style="color: dodgerblue; text-decoration: none;" th:href = "@{https://bitbucket.org/zlamane_ucho/}" target="_blank">
                https://bitbucket.org/zlamane_ucho/</a>
        </address>
        <address>
            <strong>E-mail</strong><br>
            <a style="color: #ff6500; text-decoration: none;" href="mailto:#">tymoteusztelega@gmail.com</a>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </address>
        </div>
        <div class = "contactCard">
        <address>
            <strong>Marek Kasprowski</strong><br>
            Damrota 13<br>
            43-190 Mikołów
        </address>
        <address>
            <strong>BitBucket<i class="icon-bitbucket"></i></strong><br>
            <a style="color: dodgerblue; text-decoration: none;" th:href = "@{https://bitbucket.org/mkkfox/}" target="_blank">
                https://bitbucket.org/mkkfox/</a>
        </address>
        <address>
            <strong>E-mail</strong><br>
            <a style="color: #ff6500; text-decoration: none;" href="mailto:#">mkasprowskik9@gmail.com</a>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </address>
        </div>
        <div style="float: none"></div>

    </div>

</div>
</body>
</html>
