<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <title>TSP Solver</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{images/favicon.ico}" type="image/x-icon">

    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />

    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="../static/css/fontello.css" th:href="@{/css/fontello.css}" />
    <link th:href="@{https://fonts.googleapis.com/css?family=Amiri:400,700|Courgette}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}" ></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" ></script>
</head>
<body>
<div class = "container">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="col-md-2 bannerImage">
                    <a th:href = "@{/}">
                        <img th:src="@{/images/salesman.png}" width="100"/>
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="row row-navbar">
                        <strong>The Travelling Salesman Problem Solver</strong>
                    </div>
                    <div class="row row-navbar fontCourgette">
                        With us you will reach your target faster...
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="row fake-content">
        <div class="col-md-3 leftMenu">
            <div class="col-md-12">
                <a th:href = "@{/}" class = "btn btn-custom">Main page</a>
                <a th:href = "@{/trip}" class = "btn btn-custom">Find optimal trip</a>
                <a th:href = "@{/algorithms}" class = "btn btn-custom">Used algorithms</a>
                <a th:href = "@{/aboutus}" class = "btn btn-custom">Contact us</a>
                <a th:href = "@{https://bitbucket.org/ittspteam/}" target="_blank"  class = "btn btn-custom btn-bitbucket">
                    BitBucket<i class="icon-bitbucket"></i></a>
            </div>
        </div>
        <div class="col-md-9">
            <div layout:fragment="content">Fake</div>
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-bottom navbar-footer" style="height: 30px">
            <div class="container-fluid">
                    &copy; Kasprowki &amp; Telega INC.
            </div>
        </nav>
    </div>
</div>
</body>
</html>
